<div id="<%= id(@user) %>">
  <h1 id="<%= id(@user, :login) %>"><%= @user.login %></h1>
  <p><small id="<%= id(@user, :created_at) %>">
    Joined on <%= time(@user.created_at) %>
  </small><br />
  <small id="<%= id(@user, :updated_at) %>">
    Last modified on <%= @user.updated_at.formatted(:pretty) %>
  </small></p>
</div>