<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= catch_content :for_title %> | lifestyle</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= css_include_tag "blueprint/screen", "blueprint/grid", :master, :media => "screen, projection" %>
    <!--[if IE]><%= css_include_tag "blueprint/ie", :media => "screen,projection" %><![endif]-->
    <%= js_include_tag :jquery, :application %>
    <script type="text/javascript"><%= jq %></script>
  </head>
  <body>
  <div id="container">
    <div id="header" class="container span-24">
      <div class="span-12"><h1>lifestyle</h1></div>
      <div id="navigation">
        <ul>
          <% if session.authenticated? %>
            <li><%= link_to session.user.login, resource(session.user) %></li>
            <li><%= link_to "logout", url(:logout) %></li>
          <% else %>
            <li><%= link_to "login", url(:login) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="content" class="span-24">
      <h2><%= catch_content :for_title %></h2>
      <%= message[:notice] %>
      <%= catch_content :for_layout %>
    </div>
  </div>
  </body>
</html>